*{background-color: black;
    color: bisque;
    padding: 0%;
    margin: 0%;}
    .main{
        display: flex;
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }
    .links{
        margin-top: 10%;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration-style: none;
     }
    
    
    a{
        text-decoration: none;
    }
    a:hover{color: white;
            text-decoration: underline;}